<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тесты сервиса lsChanges</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>    
    <script src="https://unpkg.com/htmx.org@1.9.2"
        integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
        crossorigin="anonymous"></script>

</head>

<body class="container">

    <div class="row mt-4 g-4">
        <div class="col-8">
            <h1 class="mb-4">Список тестов сервиса lsChanges</h1>
           
            <div class="list-group fs-5 me-5" id="test-list"  hx-get="/tests"  hx-trigger="load" hx-target="#test-list" hx-swap="innerHTML" hx-indicator="#spinner">
            </div>
        </div>

        <div class="col-4">
            <h1 class="mb-4">Новый Тест</h1>
           <!-- <form hx-post="/add-test/" hx-target="#test-list" hx-swap="afterbegin" hx-indicator="#spinner"> -->
            <form hx-post="/tests" hx-target="#test-list" hx-swap="innerHTML" hx-indicator="#spinner">
                <div class="mb-2">
                    <label for="test-id" readonly hidden>Код Получатель отчета(id)</label>
                    <input type="text" name="id" id="test-id" class="form-control" readonly hidden/>
                </div>
                
                <div class="mb-2">
                    <label for="test-idText" readonly hidden>Текст Получатель отчета(idNameText) </label>
                    <input type="text" name="idText" id="test-idText" class="form-control" readonly hidden/>
                </div>

                <div class="mb-2">
                    <label for="test-idName" >Получатель Отчета </label>
                  <select name="idName" id="test-idName" class="form-select" hx-target="#test-idName" hx-get="/get-id-name-options" hx-trigger="load, change" hx-swap="innerHTML">        
                    </select>
                </div>
                <div class="mb-2">
                    <label for="test-mode" readonly hidden>Режим (mode)</label>
                    <input type="text" name="mode" id="test-mode" class="form-control"  readonly hidden/>
                </div>
                <div class="mb-2">
                    <label for="test-modeText" readonly hidden>Текст Режим (mode) </label>
                    <input type="text" name="modeText" id="test-modeText" class="form-control"  readonly hidden/>
                </div>

                <div class="mb-2">
                    <label for="test-modeName" >Режим </label>
                    <select name="modeName" id="test-modeName" class="form-select" hx-target="#test-modeName" hx-get="/get-mode-name-options" hx-trigger="load, change" hx-swap="innerHTML"  >        
                    </select>
                </div>
                <div class="mb-2">
                    <label for="test-base"  readonly hidden>Код База (base)</label>
                    <input type="text" name="base" size="2" id="test-base" class="form-control"  readonly hidden/>
                </div>
                <div class="mb-2">
                    <label for="test-baseText"  readonly hidden >Текст База (base) </label>
                    <input type="text" name="baseText" id="test-baseText" class="form-control"  readonly hidden />
                </div>
                <div class="mb-2">
                    <label for="test-modeName ">База </label>
                    <select name="baseName" id="test-baseName" class="form-select" hx-target="#test-baseName" hx-get="/get-base-name-options" hx-trigger="load, change" hx-swap="innerHTML"  >        
                    </select>
                </div>
                <div class="mb-2">
                    <label for="test-dt">Дата изменений</label>
                    <input value='{{ .CurrentDate }}' type="date" name="dt" id="test-dt" class="form-control" />
                </div>
 
                <div class="mb-2">
                    <label for="test-start">Начальная позиция в списке ЛС</label>
                    <input value="1" type="number" min="1" size="4" name="start" id="test-start" class="form-control" style="display: inline-block;width: auto;"/>
            
                </div>
                <div class="mb-2">
                    <label for="test-end">Конечная позиция в списке ЛС </label>
                    <input value="1" type="number" min="1" size="4" name="end" id="test-end" class="form-control"  style="display: inline-block;width: auto;"/>
            
                </div>
                <button type="submit" class="btn btn-primary">
                    <span class="spinner-border spinner-border-sm htmx-indicator" id="spinner" role="status"
                        aria-hidden="true"></span>
                    Добавить
                </button>
            </form>
        </div>

    </div>

</body>

</html>